<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta http-equiv="x-ua-compatible" content="ie=edge"> -->
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
    <!-- <link rel="icon" href="/favicon.png"> -->
    <title>GB</title>
  </head>

  <body>
    <div id="title"><h1><a href="/">GB</a></h1></div>
    <div id="first_paragraph">
      <h3><br>Hi, my name is K. This website is to show Abqoor that he will 
        never <em>ever</em> defeat me.</h3>
    </div>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
    <!-- <script src="js/scripts.js"></script> -->
  </body>

</html>

